* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 32px;
  width: 1220px;
  max-width: 100%;
}

.color_text {
  color: #3e9cdc;
}

.button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 24px 0 0;
  transition: all 0.2s;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  outline: none;
}
.button._button-blue {
  background-color: #3e9cdc;
  border: 1px solid #ffffff;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .button._button-blue {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .button._button-blue {
    margin-bottom: 20px;
  }
}
.button:hover {
  box-shadow: 0 0 4px black;
}

.navbar {
  position: absolute;
  background-color: #242531;
  opacity: 0.9;
  padding: 30px 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }
}
.navbar__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .navbar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.navbar__logo p {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  color: #ffffff;
}
.navbar__links {
  display: flex;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1280px) {
  .navbar__links {
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.navbar__links a {
  padding: 0 27px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}
@media screen and (max-width: 768px) {
  .navbar__links a {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1280px) {
  .navbar__links a {
    margin-bottom: 15px;
  }
}
.navbar__links a:hover {
  color: #3e9cdc;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3e9cdc;
  padding-top: 235px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .banner {
    padding-top: 200px;
  }
}
.banner__title {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .banner__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 32px;
  }
}
@media screen and (max-width: 1280px) {
  .banner__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 32px;
  }
}
.banner__content {
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  .banner__content {
    text-align: center;
  }
}
@media screen and (max-width: 1280px) {
  .banner__content {
    text-align: center;
  }
}
.banner__content p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.banner__content ul li {
  list-style: none;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  padding-top: 10px;
}
.banner__content ul li:before {
  content: "- ";
}
.banner__content_btn {
  margin-top: 77px;
  padding-bottom: 185px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .banner__content_btn {
    margin: 77px 0 0 18px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1280px) {
  .banner__content_btn {
    margin: 77px 0 0 18px;
    padding-bottom: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ordering {
  background-image: url("../img/map_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3e9cdc;
}
.ordering__title {
  text-align: center;
  padding-top: 116px;
}
.ordering__title h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
.ordering__title p {
  padding-top: 26px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.ordering__icons-block {
  position: relative;
  margin: 76px 0px 0 0px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .ordering__icons-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ordering__icons-block hr {
  flex-grow: 1;
  border: none;
}
.ordering__icons-block hr:after {
  content: ".....";
  color: #ffffff;
  font-family: "Lato", sans-serif;
  width: 100%;
  font-size: 37px;
  line-height: 0;
  font-weight: bold;
  letter-spacing: 17px;
  padding-top: 35px;
  display: flex;
}
@media screen and (max-width: 1280px) {
  .ordering__icons-block hr:after {
    content: "";
  }
}
.ordering__icons-block_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.ordering__icons-block_item i {
  position: relative;
  background-color: #3e9cdc;
  border-radius: 50%;
  border: 5px solid #286690;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 36px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .ordering__icons-block_item {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .ordering__icons-block_item {
    margin-bottom: 50px;
  }
}
.ordering__icons-block_item p {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}
.ordering__registration_form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -24px;
  margin-top: 45px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .ordering__registration_form {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1280px) {
  .ordering__registration_form {
    display: flex;
    justify-content: center;
  }
}
.ordering__registration_form .field {
  padding: 24px;
  width: 400px;
}
.ordering__registration_form .field > * {
  width: 100%;
}
.ordering__registration_form .field._field-two-coll {
  width: 800px;
}
.ordering__registration_form .select {
  padding-left: 12px;
  border-radius: 5px;
  height: 44px;
  font-size: 18px;
  background-color: #dfdfe1;
  border: none;
  outline: none;
}
.ordering__registration_form .select:hover {
  background-color: #ffffff;
}
.ordering__registration_form input {
  font-size: 18px;
  border-radius: 5px;
  height: 44px;
  padding-left: 12px;
  background-color: #dfdfe1;
  border: none;
  outline: none;
}
.ordering__registration_form input:hover {
  background-color: #ffffff;
}
.ordering__registration_form .slider {
  position: relative;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.ordering__registration_form .slider .slider__input {
  margin-top: 20px;
  -webkit-appearance: none;
  width: 100%;
  min-width: auto;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.ordering__registration_form .slider .slider__input:hover {
  opacity: 1;
}
.ordering__registration_form .slider .slider__input::-webkit-slider-thumb, .ordering__registration_form .slider .slider__input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #286690;
  background: #3e9cdc;
  cursor: pointer;
}
.ordering__registration_form .slider p {
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
.ordering__registration_form .slider #percent {
  position: absolute;
  right: 0;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
.ordering__registration_form .slider #percent:after {
  content: "%";
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
.ordering__registration_form .btnAttach_file .my {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.ordering__registration_form .btnAttach_file .label {
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  font: 15px/50px "Lato", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #dfdfe1;
  font-weight: bold;
  outline: none;
}
.ordering__registration_form .btnAttach_file .label .far {
  font-size: 20px;
  margin-right: 10px;
}
.ordering__registration_form .btnAttach_file .label:hover {
  color: #000000;
  background: #ffffff;
  border: 1px solid #3e9cdc;
}
.ordering__registration_form_submit-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0 150px 0;
}
.ordering__registration_form_submit-btn button {
  width: 350px;
  margin: 0px 0px 0px 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  padding: 12px 50px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  background-color: #3e9cdc;
  border: 1px solid #ffffff;
  color: #ffffff;
  outline: none;
}
.ordering__registration_form_submit-btn button:hover {
  box-shadow: 0 0 5px #3e9cdc;
  background-color: #ffffff;
  color: #000000;
}

.footer {
  padding: 30px 0;
  background-color: #3d4050;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 13px;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1280px) {
  .footer .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer__block {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .footer__block {
    margin-top: 20px;
    text-align: center;
  }
}
.footer__block + .footer__block:before {
  content: "|";
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .footer__block + .footer__block:before {
    content: "";
    padding: 0;
  }
}
.footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8d8f95;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 13px;
  padding: 0 0 0 19px;
}
@media screen and (max-width: 768px) {
  .footer a {
    padding: 0;
  }
}
.footer a + a {
  margin-left: 10px;
}
.footer a img {
  padding-right: 10px;
}
.footer a span {
  margin-right: 5px;
}
.footer a:hover {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
